.THIS .mainContainer {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
    max-width: 300px;
}

.THIS .name-product{
    font-size: 20px;
    font-weight: bold;
    color: #2a7d9f;

}

.THIS .price-product{
    font-size: 16px;
    color: #555;
}